// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyDQEfkncnCOkXoXVmu3jZIFN0KK6N7xSVg",
  authDomain: "adaptlearn-3582c.firebaseapp.com",
  projectId: "adaptlearn-3582c",
  storageBucket: "adaptlearn-3582c.firebasestorage.app",
  messagingSenderId: "468565219496",
  appId: "1:468565219496:web:8e0e0d2ace2a979fc2ca9d",
  measurementId: "G-2R16L7MCZK"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
